@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-medium';
	src: url('../fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-semibold';
	src: url('../fonts/Gilroy-Semibold.eot');
	src: local('☺'), url('../fonts/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-bold';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*=================================================================*/
body{
	margin: 0;
	padding: 0;
	font-family: Gilroy;
	overflow-x: hidden;
}
.container{
	max-width: 1140px;
	margin: auto;
}
li{
	list-style: none;
}
ul{
	padding: 0;
	margin: 0;
}
h2{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
.btn{
	display: inline-block;
	color: #fff;
	padding: 15px 35px;
	background: rgb(255,113,113);
	background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
	border-radius: 30px;
}
.article-style {
	border-radius: 14px;
	background-color: #fff;
	position: relative;
	box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
}
.article-style::before{
	content: '';
	position: absolute;
	top: -2%;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgb(255,113,113);
	background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
	border-radius: 14px;
	z-index: -50;

}
/*=================================================================*/

$color: rgb(255,113,113);

/*Header*/
/*=================================================================*/
.header {
	background-image: url('../img/headerEll.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
	padding-bottom: 40px;

	&__top {
		padding: 30px 0px 120px 0px;
	}
	&__wrapper {
		display:flex;
		justify-content: space-between;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		color: #fff;
	}
	&__point {
		font-size: 16px;
		/*color: #fff;*/
		margin-right: 50px;
	}
	&__point:last-child{margin-right: 0px;}
	&__content {
		display:flex;
		justify-content: space-between;
		background: url('../img/bike.png');
		background-repeat: no-repeat;
		background-position: 85% 0%;
		width: 100%;
	}
	&__arcticle {
		flex: 0 1 56%;
		padding-top: 70px;
	}
	&__title {
		font-family: Gilroy-bold;
		font-size: 34px;
	}

	&__title:nth-child(1) > span {color: #FD2C2C;}
	&__title:nth-child(2) > span {color: #00B107;}
	&__title:nth-child(2){margin: 10px 0px 40px;}

	&__text {
		width: 60%;
	}

}
.logo {
	&__title {
		font-family: Gilroy-bold;
		font-size: 36px;
		margin-bottom: 10px;
	}
	&__subtitle {
		font-family: Gilroy-semibold;
		font-size: 19px;
	}
}

.header__plan{
	max-width: 25%;
	padding: 48px 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.plan__title {
	font-family: Gilroy-semibold;
	font-size: 20px;
	line-height: 1.2em;
	width: 90%;
}
.plan__mode {
	margin: 30px 0px;
	display: flex;
	flex-direction: column;
}
.plan__point {
	margin-bottom: 20px;
	font-size: 16px;
	position: relative;

}
.plan__point:last-child{margin-bottom: 0px;}

.plan__point > input{
	display: none;
}

.plan__point > input:checked + .plan__point-label::after{
	transform: scale(1);
}

.plan__point-label{
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.plan__point-label::before{
	content: '';
	width: 18px;
	height: 18px;
	/*background-color: #FF7D69;*/
	background: rgb(255,113,113);
	background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
	border-radius: 50%;
	align-self: flex-start;
	margin-right: 10px;
}
.plan__point-label::after{
	content: '';
	align-self: flex-start;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	transform: scale(0);
	transition: transform .3s ease;
}
/*=================================================================*/
/*Main*/
/*=================================================================*/
/*about*/
.about {
	&__title {
		text-align: center;
		font-family: Gilroy-bold;
		font-size: 30px;
		padding: 110px 0px 70px;
	}
	&__title > span{
		color: $color;
	}
	&__wrapper{
		display: flex;
		justify-content: space-around;
	}
	&__article {
		padding: 31px 34px 11px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 25%;
	}
	&__subtitle{
		font-family: Gilroy-medium;
		font-size: 19px;
		margin: 20px 0px 10px;
	}
	&__text {
		line-height: 150%;
	}
}

/*=================================================================*/
/*Ways*/
/*=================================================================*/
.container{
	overflow: visible;
}
.ways{
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-top: 150px;
	position: relative;

	&__wrapper{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__wrapper:nth-child(odd){
		& .ways__img{
			overflow: visible;
			flex: 0 1 50%;
			& img{
				display: inline-block;
				// width: 100%;
				position: absolute;
				left: 0;
			}
	}
	
	}
	&__block {
		width: 50%;
	}
	&__title {
		font-family: Gilroy-medium;
		font-size: 30px;
		padding-bottom: 40px;
	}
	&__point:last-child{
		font-family: Gilroy-medium;
		color: $color;
		font-size: 30px;

	}
	&__btn {
		display: inline-block;
		margin-top: 30px 0px 0px 0px;
	}
}
.ways__wrapper:nth-child(even){
	margin: 200px 0px 200px;
	& .ways__img{
		// overflow: hidden;
		flex: 0 1 50%;
		&  img{
			display: inline-block;
			position: absolute;
			right: 0;
		}
	}
}
/*=================================================================*/
/*Card section*/
/*=================================================================*/
.card {
	margin-top: 200px;
	&__title {
		font-family: Gilroy-semibold;
		text-align: center;
		font-size: 30px;
		margin-bottom: 70px;
		&  span{
			color: $color;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-around;
	}

	&__block {
		border-radius: 10px;
		box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
		position: relative;
		&:nth-child(2) .card__subblock{
			background: rgb(255,113,113);
			background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
			color: #fff;
		}
	}

	&__image {
		& img{
			width: 100%;
			height: 100%;
		}
	}

	&__label {
		position: absolute;
		left: 2%;
		top: 3%;
		color: #fff;
	}

	&__subblock {
		padding: 20px 20px 30px;
	}

	&__point {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__btn {
		margin-top: 22px;
		margin-left: 10%;
		border: 1px solid $color;
		background: #fff;
		color: $color;
		padding: 15px 55px;
		transition: .5s ease;
		&:hover{
			background: rgba(99, 96, 96, 0.01);
		}
	}
	& > .container > &__btn{
		background: rgb(255,113,113);
		background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
		color: #fff;
		margin-left: 36%;
		margin-top: 40px;
	}
}
/*=================================================================*/
/*Instruct section*/
/*=================================================================*/
.instruct {
	padding: 150px 0px;
	&__title {
		font-family: Gilroy-bold;
		font-size: 30px;
		text-align: center;
		margin-bottom: 70px;
	}

}

.article-instruct {

	display: flex;
	&:nth-child(odd){
		justify-content: flex-end;
		& .article-instruct__num{
			order: 1;
			margin-left: 30px;
		}
		& .article-instruct__body{
			order: 0;
		}
	}
	&:nth-child(even){
		justify-content: flex-start;
		& .article-instruct__num{
			margin-right: 30px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: flex-start;
		width: 60%;
	}
	
	&__num {
		align-self: center;
		font-size: 94px;
		color: #FF7272;
		opacity: 0.5;
		font-weight: 600;
	}

	&__title {
		font-family: Gilroy-semibold;
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__text {
		line-height: 150%;
	}
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0px;
	}
}
/*=================================================================*/
/*Maps section*/
/*=================================================================*/
.maps {

	&__title {
		font-family: Gilroy-bold;
		font-size: 30px;
		text-align: center;
		margin-bottom: 70px;
		& span{
			color: $color;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__dot {
		flex: 0 1 45%;
		border-radius: 10px;
		margin-bottom: 60px;
	}

	&__img {
		& img{
			width: 100%;
		}
	}

	&__address {
		margin-top: 10px;
	}
}
/*=================================================================*/
/*Review section*/
/*=================================================================*/

.review {

	padding: 150px 0px;

	&__title {
		font-family: Gilroy-bold;
		font-size: 30px;
		margin-bottom: 70px;
		width: 40%;
		text-align: center;
		margin: auto;
		margin-bottom: 70px;
		& span{
			color: $color;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__block {
		flex: 0 1 40%;
		border-radius: 10px;
		margin-bottom: 60px;
		// display: flex;
		// justify-content: flex-start; На всякий случай, НЕ ТРОГАТЬ!
		// align-items: flex-start;
		// flex-direction: column;
		padding: 40px 32px 46px;
	}

	&__person {
		display: flex;
		margin-bottom: 20px;
		justify-content: flex-start;
	}

	&__avatar {
		margin-right: 10px;
		width: 79px;
		height: 79px;
		overflow: hidden;
		border-radius: 50%;
		& img{
			width: 100%;
		}
	}

	&__name {
		align-self: center;
		font-family: Gilroy-semibold;
		font-size: 20px;
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
	}
}
/*Review slider*/
/*=================================================================*/
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Точки (булиты) */
.review__slider .slick-dots{
	display: none;
}
.review__slider .slick-list {
	padding: 20px;
}
.review__slider{
	padding: 20px;
	position: relative;
	& .slick-arrow{
		position: absolute;
		top: 100%;
		z-index: 10;
		font-size: 0;
		cursor: pointer;
		border: none;
		height: 60px;
		width: 60px;
		margin: -60px 0 0 0;
		border-radius: 50%;
		box-shadow: 0px 67px 80px rgba(57, 79, 122, 0.07), 0px 33.6269px 33.4221px rgba(57, 79, 122, 0.0503198), 0px 16.4147px 17.869px rgba(57, 79, 122, 0.0417275), 0px 6.77964px 10.0172px rgba(57, 79, 122, 0.035), 0px 1.72057px 5.32008px rgba(57, 79, 122, 0.0282725), 0px -0.247253px 2.21381px rgba(57, 79, 122, 0.0196802);	}
		& .slick-list {
			overflow: hidden;
		}
		/* Лента слайдов */
		& .slick-track{
			display: flex;
		}
		/* Точки (булиты) */
		& .slick-dots{
			display: none;
		}
		& .slick-list {
			padding: 20px;
		}
}
.slick-arrow.slick-prev{
	background: url('../img/prev-arr.png') 50% / 50% no-repeat;
	left: 43%;
}
.slick-arrow.slick-next{
	background: url('../img/next-arr.png') 50% / 50% no-repeat;
	right: 43%;
}
.review__slide{
	margin: 0px 45px;
}
/*=================================================================*/
/*=================================================================*/
/*Gift section*/
/*=================================================================*/
.gift {
	padding-bottom: 150px;
	position: relative;
	&__title {
		font-family: Gilroy-bold;
		font-size: 30px;
		margin-bottom: 70px;
		width: 40%;
		text-align: center;
		margin: auto;
		margin-bottom: 70px;
		& span{
			color: $color;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__instruct {
		align-self: center;
	}

	&__point {
		line-height: 150%;
		margin-bottom: 35px;
		max-width: 60%;
		display: flex;
		align-items: center;
		&:last-child{
			margin-bottom: 0px;
		}
		& div{
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 68px;
			min-height: 68px;
			border-radius: 50%;
			background: rgb(255,113,113);
			background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
			margin-right: 20px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 17px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: rgb(255,113,113);
				background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
				z-index: -40;
				filter: blur(25px);
			}
		}
	}

	&__img {
		& img{
			position: absolute;
			top: 20%;
			right: -5%;
		}
	}

	&__btn{
		margin-top: 60px;
		padding: 20px 25px;
	}
}
/*=================================================================*/
/*Ceo section*/
/*=================================================================*/
.ceo {
	padding-bottom: 150px;
	&__slider {
		position: relative;
		& .slick-list {
			overflow: hidden;
		}
		& .slick-track{
			display: flex;
			flex-direction: column;
		}
		
		/* Элемент точки */
		& .slick-dots li button{
			font-size: 0;
			margin-bottom: 17px;
			opacity: 0.25;
			width: 34px;
			height: 34px;
			border: none;
			border-radius: 50%;
			background: rgb(255,113,113);
			background: linear-gradient(90deg, rgba(255,113,113,1) 0%, rgba(255,136,98,1) 100%);
			transition: all 0.8s ease;
		}
		& .slick-dots{
			display: inline-block;
			position: absolute;
			right: -10%;
			top: 30%;
		}
		& .slick-dots li.slick-active button{
			opacity: 1;
		}
	}
	&__slide {
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__img {
		flex: 1 0 50%;
		& img{
			width: 100%;
		}
	}

	&__info {
		align-self: center;
		margin-left: 20px;
	}

	&__title {
		font-family: Gilroy-bold;
		font-size: 30px;
		margin-bottom: 30px;
	}

	&__text {
		line-height: 150%;
		overflow-y: auto;
	}
}
/*=================================================================*/
/*=================================================================*/
/*Footer section*/
.footer {

	&__logo {
	}

	&__link {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__point {
	}

	&__nav {
	}
}
/*=================================================================*/