@charset "UTF-8";

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-semibold';
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("☺"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*=================================================================*/

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 15px 35px;
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  border-radius: 30px;
}

.article-style {
  border-radius: 14px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
  box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
}

.article-style::before {
  content: '';
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  border-radius: 14px;
  z-index: -50;
}

/*=================================================================*/

/*Header*/

/*=================================================================*/

.header {
  background-image: url("../img/headerEll.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-bottom: 40px;
}

.header__top {
  padding: 30px 0px 120px 0px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.header__point {
  font-size: 16px;
  /*color: #fff;*/
  margin-right: 50px;
}

.header__point:last-child {
  margin-right: 0px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("../img/bike.png");
  background-repeat: no-repeat;
  background-position: 85% 0%;
  width: 100%;
}

.header__arcticle {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 56%;
  flex: 0 1 56%;
  padding-top: 70px;
}

.header__title {
  font-family: Gilroy-bold;
  font-size: 34px;
}

.header__title:nth-child(1) > span {
  color: #FD2C2C;
}

.header__title:nth-child(2) > span {
  color: #00B107;
}

.header__title:nth-child(2) {
  margin: 10px 0px 40px;
}

.header__text {
  width: 60%;
}

.logo__title {
  font-family: Gilroy-bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: Gilroy-semibold;
  font-size: 19px;
}

.header__plan {
  max-width: 25%;
  padding: 48px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.plan__title {
  font-family: Gilroy-semibold;
  font-size: 20px;
  line-height: 1.2em;
  width: 90%;
}

.plan__mode {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.plan__point {
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
}

.plan__point:last-child {
  margin-bottom: 0px;
}

.plan__point > input {
  display: none;
}

.plan__point > input:checked + .plan__point-label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.plan__point-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.plan__point-label::before {
  content: '';
  width: 18px;
  height: 18px;
  /*background-color: #FF7D69;*/
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  border-radius: 50%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 10px;
}

.plan__point-label::after {
  content: '';
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

/*=================================================================*/

/*Main*/

/*=================================================================*/

/*about*/

.about__title {
  text-align: center;
  font-family: Gilroy-bold;
  font-size: 30px;
  padding: 110px 0px 70px;
}

.about__title > span {
  color: #ff7171;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.about__article {
  padding: 31px 34px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25%;
}

.about__subtitle {
  font-family: Gilroy-medium;
  font-size: 19px;
  margin: 20px 0px 10px;
}

.about__text {
  line-height: 150%;
}

/*=================================================================*/

/*Ways*/

/*=================================================================*/

.container {
  overflow: visible;
}

.ways {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 150px;
  position: relative;
}

.ways__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ways__wrapper:nth-child(odd) .ways__img {
  overflow: visible;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.ways__wrapper:nth-child(odd) .ways__img img {
  display: inline-block;
  position: absolute;
  left: 0;
}

.ways__block {
  width: 50%;
}

.ways__title {
  font-family: Gilroy-medium;
  font-size: 30px;
  padding-bottom: 40px;
}

.ways__point:last-child {
  font-family: Gilroy-medium;
  color: #ff7171;
  font-size: 30px;
}

.ways__btn {
  display: inline-block;
  margin-top: 30px 0px 0px 0px;
}

.ways__wrapper:nth-child(even) {
  margin: 200px 0px 200px;
}

.ways__wrapper:nth-child(even) .ways__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.ways__wrapper:nth-child(even) .ways__img img {
  display: inline-block;
  position: absolute;
  right: 0;
}

/*=================================================================*/

/*Card section*/

/*=================================================================*/

.card {
  margin-top: 200px;
}

.card__title {
  font-family: Gilroy-semibold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 70px;
}

.card__title span {
  color: #ff7171;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card__block {
  border-radius: 10px;
  -webkit-box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
  box-shadow: 0px 38px 87px rgba(57, 79, 122, 0.04), 0px 22.785px 50.6519px rgba(57, 79, 122, 0.0332613), 0px 15.2166px 31.3078px rgba(57, 79, 122, 0.0281862), 0px 10.7632px 19.2631px rgba(57, 79, 122, 0.0243919), 0px 7.24484px 11.4322px rgba(57, 79, 122, 0.0208695), 0px 3.77395px 6.08658px rgba(57, 79, 122, 0.0150411);
  position: relative;
}

.card__block:nth-child(2) .card__subblock {
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  color: #fff;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card__label {
  position: absolute;
  left: 2%;
  top: 3%;
  color: #fff;
}

.card__subblock {
  padding: 20px 20px 30px;
}

.card__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__point:last-child {
  margin-bottom: 0;
}

.card__btn {
  margin-top: 22px;
  margin-left: 10%;
  border: 1px solid #ff7171;
  background: #fff;
  color: #ff7171;
  padding: 15px 55px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.card__btn:hover {
  background: rgba(99, 96, 96, 0.01);
}

.card > .container > .card__btn {
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  color: #fff;
  margin-left: 36%;
  margin-top: 40px;
}

/*=================================================================*/

/*Instruct section*/

/*=================================================================*/

.instruct {
  padding: 150px 0px;
}

.instruct__title {
  font-family: Gilroy-bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 70px;
}

.article-instruct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.article-instruct:nth-child(odd) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.article-instruct:nth-child(odd) .article-instruct__num {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 30px;
}

.article-instruct:nth-child(odd) .article-instruct__body {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.article-instruct:nth-child(even) {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.article-instruct:nth-child(even) .article-instruct__num {
  margin-right: 30px;
}

.article-instruct__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 60%;
}

.article-instruct__num {
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 94px;
  color: #FF7272;
  opacity: 0.5;
  font-weight: 600;
}

.article-instruct__title {
  font-family: Gilroy-semibold;
  font-size: 20px;
  margin-bottom: 30px;
}

.article-instruct__text {
  line-height: 150%;
}

.article-instruct:last-child {
  margin-bottom: 0px;
}

/*=================================================================*/

/*Maps section*/

/*=================================================================*/

.maps__title {
  font-family: Gilroy-bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 70px;
}

.maps__title span {
  color: #ff7171;
}

.maps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.maps__dot {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
  border-radius: 10px;
  margin-bottom: 60px;
}

.maps__img img {
  width: 100%;
}

.maps__address {
  margin-top: 10px;
}

/*=================================================================*/

/*Review section*/

/*=================================================================*/

.review {
  padding: 150px 0px;
}

.review__title {
  font-family: Gilroy-bold;
  font-size: 30px;
  margin-bottom: 70px;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.review__title span {
  color: #ff7171;
}

.review__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.review__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  border-radius: 10px;
  margin-bottom: 60px;
  padding: 40px 32px 46px;
}

.review__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.review__avatar {
  margin-right: 10px;
  width: 79px;
  height: 79px;
  overflow: hidden;
  border-radius: 50%;
}

.review__avatar img {
  width: 100%;
}

.review__name {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Gilroy-semibold;
  font-size: 20px;
}

.review__text {
  font-size: 16px;
  line-height: 150%;
}

/*Review slider*/

/*=================================================================*/

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Точки (булиты) */

.slick-dots {
  display: none;
}

.slick-list {
  padding: 20px;
}

.review__slider {
  padding: 20px;
  position: relative;
  /* Лента слайдов */
  /* Точки (булиты) */
}

.review__slider .slick-arrow {
  position: absolute;
  top: 100%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  border: none;
  height: 60px;
  width: 60px;
  margin: -60px 0 0 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 67px 80px rgba(57, 79, 122, 0.07), 0px 33.6269px 33.4221px rgba(57, 79, 122, 0.0503198), 0px 16.4147px 17.869px rgba(57, 79, 122, 0.0417275), 0px 6.77964px 10.0172px rgba(57, 79, 122, 0.035), 0px 1.72057px 5.32008px rgba(57, 79, 122, 0.0282725), 0px -0.24725px 2.21381px rgba(57, 79, 122, 0.0196802);
  box-shadow: 0px 67px 80px rgba(57, 79, 122, 0.07), 0px 33.6269px 33.4221px rgba(57, 79, 122, 0.0503198), 0px 16.4147px 17.869px rgba(57, 79, 122, 0.0417275), 0px 6.77964px 10.0172px rgba(57, 79, 122, 0.035), 0px 1.72057px 5.32008px rgba(57, 79, 122, 0.0282725), 0px -0.24725px 2.21381px rgba(57, 79, 122, 0.0196802);
}

.review__slider .slick-list {
  overflow: hidden;
}

.review__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__slider .slick-dots {
  display: none;
}

.review__slider .slick-list {
  padding: 20px;
}

.slick-arrow.slick-prev {
  background: url("../img/prev-arr.png") 50%/50% no-repeat;
  left: 43%;
}

.slick-arrow.slick-next {
  background: url("../img/next-arr.png") 50%/50% no-repeat;
  right: 43%;
}

.review__slide {
  margin: 0px 45px;
}

/*=================================================================*/

/*=================================================================*/

/*Gift section*/

/*=================================================================*/

.gift {
  padding-bottom: 150px;
  position: relative;
}

.gift__title {
  font-family: Gilroy-bold;
  font-size: 30px;
  margin-bottom: 70px;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.gift__title span {
  color: #ff7171;
}

.gift__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gift__instruct {
  -ms-flex-item-align: center;
  align-self: center;
}

.gift__point {
  line-height: 150%;
  margin-bottom: 35px;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gift__point:last-child {
  margin-bottom: 0px;
}

.gift__point div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 68px;
  min-height: 68px;
  border-radius: 50%;
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  margin-right: 20px;
  position: relative;
}

.gift__point div::after {
  content: '';
  position: absolute;
  top: 17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff7171;
  background: -webkit-gradient(linear, left top, right top, from(#ff7171), to(#ff8862));
  background: -o-linear-gradient(left, #ff7171 0%, #ff8862 100%);
  background: linear-gradient(90deg, #ff7171 0%, #ff8862 100%);
  z-index: -40;
  -webkit-filter: blur(25px);
  filter: blur(25px);
}

.gift__img img {
  position: absolute;
  top: 20%;
  right: -5%;
}

.gift__btn {
  margin-top: 60px;
  padding: 20px 25px;
}

/*=================================================================*/

/*=================================================================*/